<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Wordweek</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="subtitle" style="color: #BDB3CB"><p>Wordweek</p></div>
    <form method="POST" action="/words">
      {{ csrfField() }}
      <input type='text' name='word' />
      <button type='submit'>
        Add word
      </button>
    </form>
    @if(old('notification'))
      <div class="notification is-success" style="color: #BDB3CB">
          {{ old('notification') }}
      </div>
    @endif
    <div id='wordslist' style="color: #BDB3CB">
      @each(word in words)
      <tr>
        <td>
          {{ word.word }}
        </td>
        <td>
          <form action="{{ 'words/' + word.id + '?_method=DELETE' }}" method="POST">
            {{ csrfField() }}

            <button type="submit" class="button is-danger is-outlined">
              <span>DELETE</span>
              <span class="icon is-small">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            </button>
          </form>
        </td>
      </tr>
    @else
      <tr>
        <td colspan="3" class="has-text-centered" style="color: #BDB3CB">No word added yet!</td>
      </tr>
    @endeach
  </div>
  </section>
  {{ script('app') }}
</body>
</html>
